.footer__link {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
}
.footer__link:hover {
  opacity: 0.8;
  transition-duration: 1s;
}
@media screen and (max-width: 568px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
  }
}
