.lead__title {
  text-align: center;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  margin: 0 auto 32px;
  padding: 0;
  max-width: 720px;
}
@media screen and (max-width: 785px) {
  .lead__title {
    font-size: 74px;
    max-width: 600px;
  }
}
@media screen and (max-width: 564px) {
  .lead__title {
    font-size: 56px;
    max-width: 400px;
  }
}
@media screen and (max-width: 410px) {
  .lead__title {
    margin: 0 auto 16px;
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
  }
}

